*{
    font-style: Times New Roman;
    text-align: center;
}
.Img{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}
body{
    background-color: beige;
}
li{
    text-align: left;
}